@model URLShortener.Models.ShortenURLRequest

@{
	ViewData["Title"] = "Shorten";

}

<h1>Shorten a URL</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Shorten">
			<div class="input-group mb-3">
				<input asp-for="Original" type="text" class="form-control" placeholder="URL">
				<div class="input-group-append">
					<button class="btn btn-primary" type="submit">Shorten</button>
				</div>
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<span asp-validation-for="Original" class="text-danger"></span>
		</form>
	</div>
</div>

@if (!string.IsNullOrEmpty(Model.Short))
{
	<div class="row">
		<div class="col-md-4">
			<div class="input-group mb-3">
				<input class="form-control" id="shortURLOutput" placeholder="URL" value="@ViewData["DomainName"]@Model.Short">
				<div class="input-group-append">
					<button class="btn btn-success" onclick="CopyToClipboard('shortURLOutput')"
							data-toggle="popover" data-content="Copied to clipboard"
							data-placement="right"
							>
						Copy
					</button>
				</div>
			</div>
		</div>
	</div>
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
