@using URLShortener.Services.IDEncoder;
@model List<URLShortener.Models.ShortenedURL>
@inject IIDEncoder encoder

@{
	ViewData["Title"] = "Shortened URLs";

}

<h1>Shortened URLs</h1>
<hr />
<table class="table">
	<thead class="thead-light">
		<tr>
			<th>Original</th>
			<th>Short</th>
			<th>Redirects</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Original</td>
				<td>@ViewData["DomainName"]@encoder.Encode(item.Id)</td>
				<td>@item.Redirects</td>
			</tr>
		}
	</tbody>
</table>
